@import url(./../_abstract/post.css);

.post {
	font-family: 'Roboto';
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 0 2px 2px #000;
}

.ac-1 {
	background: url(/app/assets/sr.png);
}

.choices {
	top: 69.9%!important;
	width: 62%;
	margin: auto;
}

.choice {
	width: 46%;
	float: left;
	margin: 0 2%;
}
.choice:last-child {
	text-align: right;
}
