{
	"compact": false,
	"plugins": [
		"transform-decorators-legacy",
		"transform-object-assign",
		"transform-object-rest-spread"
	],
	"presets": [
		["react"],
		["target", {
			"presets": ["es2015"],
			"targets": [
				{"name": "phantom", "version": 2}
			],
			"modules": false
		}],
	]
}
