<!DOCTYPE html>
<html>
	<base href="<%= htmlWebpackPlugin.options.base %>">
	<head>
		<meta charset="UTF-8">
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>
	<body>
	</body>
	<%if (typeof htmlWebpackPlugin.options.test !== 'undefined') { %>
		<script src="../node_modules/mocha/mocha.js"></script>
		<script>mocha.setup('bdd');</script>
		<script src="../test/test.js"></script>
		<div id="mocha"></div>
		<link href="../test/test.css" rel="stylesheet"></head>
		<script>mocha.run();</script>
	<% } %>
</html>
