.post {
	display:block;
	width: 1280px;
	height: 720px;
	background: #000;
	position: relative;
	overflow: hidden;
	float: left;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	color: #fff;
	box-sizing: border-box;
}

.post > * {
	z-index: 10;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-position: center center;
	background-size: cover;
}

.post > .bg {
	z-index: 9;
}
