.post {
	composes: post-raw from './abstract/Post.css';
	font-family: 'Roboto';
	font-size: 35px;
	text-shadow: 2px 2px 1px #000;
}

.bg {
	composes: cover from './abstract/Post.css';
}

.choice {
	position: absolute;
	top: 70%;
	left: 30%;
	right: 30%;
	line-height: 1.4;
	z-index: 9999;
	text-align: center;
}

.choice:before {
	content: '\0020';
	background: #fff url(assets/shake/shake.png) no-repeat center center;
	background-size: 60% auto;
	width: 3em;
	height: 3em;
	border-radius: 100%;
	display: block;
	left: 0;
	right: 0;
	position: absolute;
	top: -4.4em;
	margin: auto;
}

.post[data-variant*="(0=1)"] .choice {
	text-transform: uppercase;
}

.post[data-variant*="(1=1)"] .choice {
	text-shadow: 0 -10px 1px rgba(255,255,255,.24), 0 10px 1px rgba(255,255,255,.24);
}

.post[data-variant*="(2=1)"] .choice:before {
	font-size: 2em;
	top: -3.5em;
	background-image: url(assets/shake/shake-wii.png);
	background-size: 80% auto;
}

.post[data-variant*="(2=2)"] .choice:before {
	background-image: url(assets/shake/shake-alt.png);
	background-color: transparent;
	border: 2px solid #fff;
}

.post[data-variant*="(2=3)"] .choice:before {
	font-size: 2em;
	top: -3em;
	background-image: url(assets/shake/shake-wii-alt.png);
	background-color: transparent;
	background-size: 80% auto;
}

.post[data-variant*="(3=1)"] .choice:before {
	border-radius: 10px;
}
