<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>
	<body>
	</body>
	<%if (typeof htmlWebpackPlugin.options.test !== 'undefined') { %>
		<script src="test/mocha.js"></script>
		<script>mocha.setup('bdd');</script>
		<script src="test/test.js"></script>
		<div id="mocha"></div>
		<link href="test/test.css" rel="stylesheet"></head>
		<script>mocha.reporter('spec').run((failures)=>{if(failures > 0){throw 0}else{console.log('done')}});</script>
	<% } %>
</html>
