@import url(/app/post/abstract/Post.css);

.post {
	font-family: 'Roboto';
	font-size: 30px;
	perspective: 1500px;
}

.choice:before {
	content: '\0020';
	width: 60px;
	height: 40px;
	display: inline-block;
	background: url(/app/assets/remember-me/circle.png) no-repeat top left;
	background-size: contain;
	position: absolute;
	left: -80px;
	border-right: 4px solid #FFA200;
	top: 5px;
}

.choice {
	max-width: 25%;
	position: absolute;
}

.choice:first-child {
	top: 30%;
	left: 65%;
	transform: rotateY(-20deg);
}

.choice:last-child {
	top: 30%;
	right: 65%;
	transform: rotateY(20deg);
}

.choice:last-child:before {
	background-image: url(/app/assets/remember-me/cross.png);
}

.choice span {
	display: inline;
	background: rgba(0,0,0,.9);
	padding: .25em;
	line-height: 1.65;
}
