body {
	background: #222;
	-webkit-font-smoothing: antialiased;
	font-size: 35px;
}

body, body * {
	display: block;
	margin: 0;
	padding: 0;
	line-height: 1;
}

script {
	display: none;
}

post {
	display:block;
	width: 1280px;
	height: 720px;
	background: #000;
	position: relative;
	overflow: hidden;
	float: left;
	background-image: url(../assets/bg.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	color: #fff;
}

post > * {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-position: center center;
	background-size: cover;
}

post > bg {
	z-index: 9;
}

post.layout-1,
post.layout-0 {
	font-family: 'Patrick Hand';
}

post.layout-0 x1 {
	background-image: url(../assets/lis-serious.png);
}

post.layout-0 bg {
	opacity: .5;
	-webkit-transform(scale(1.1));
}

post.layout-0 choice {
	text-transform: uppercase;
}

post.layout-1 x1 {
	background-image: url(../assets/lis.png);
}

post.layout-0 choices,
post.layout-1 choices {
	top: 71%;
}

post.layout-0 choices choice,
post.layout-1 choices choice {
	width: 40%;
	margin: 7% 0;
	float: left;
	margin-right: 0;
	margin-left: 10%;
}

post.layout-0 choices choice:first-child,
post.layout-1 choices choice:first-child {
	text-align: right;
	margin-left: 0;
	margin-right: 10%;
}

post.layout-2 x1 {
	background-image: url(../assets/bioshock.png);
}

post.layout-2 bg {
	opacity: .75;
}

post.layout-2 {
	font-size: 45px;
	font-family: "Poiret One";
	text-transform: uppercase;
	color: #eae6c0;
	text-shadow: 2px 2px 1px #000;
}

post.layout-2 choices {
	margin: auto;
	top: 44%;
}

post.layout-2 choice {
	display: block;
	width: 40%;
	margin: 5%;
	float: left;
	text-align: center;
}

post.layout-3 x1 {
	background-image: url(../assets/fallout.png);
}

post.layout-3 {
	font-family: 'Roboto Mono';
	color: #3cd584;
	font-size: 30px;
}

post.layout-3 choices {
	top: 66%;
	margin: 0 16%;
}

post.layout-3 choice {
	margin-bottom: 30px;
}

post.layout-3 choice span {
	display: inline;
}

post.layout-3 choice:before {
	content: '[';
	display:inline;
}

post.layout-3 choice:after {
	content: ']';
	display:inline;
}

post.layout-4 {
	font-family: 'Lato';
	font-size: 30px;
	text-shadow: 2px 2px 1px #000;
}

post.layout-4 bg {
	width: 960px;
	margin: auto;
}

post.layout-4 x1 {
	background-image: url(../assets/zelda.png);
}

post.layout-4 choice:first-child {
	display: none;
}

post.layout-4 choice:last-child {
	position: absolute;
	top: 64%;
	left: 20%;
}

post.layout-4 choice:last-child span:after {
	content: '?';
}


post.layout-4 x2:after {
	content: 'Yes No';
	display: block;
	position: absolute;
	width: 10px;
	line-height: 45px;
	top: 72.5%;
	left: 26.5%;
	color: #48ea59;
}

post.layout-5 {
	font-family: 'Roboto';
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 0 2px 2px #000;
}

post.layout-5 x1 {
	background: url(../assets/sr.png);
}

post.layout-5 choices {
	top: 69.9%;
	width: 62%;
	margin: auto;
}
post.layout-5 choice {
	width: 46%;
	float: left;
	margin: 0 2%;
}
post.layout-5 choice:last-child {
	text-align: right;
}

post.layout-6 {
	font-family: 'Roboto';
	text-transform: uppercase;
	font-weight: bold;
	font-size: 25px;
	text-shadow: 0 2px 8px #000;
}

post.layout-6 choices {
	height: 200px;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	-@align-vertical-alt-: 10%;
	-@align-alt-: 10%;
}

post.layout-6 choice span {
	opacity: .9;
	display: inline-block;
}

post.layout-6 choice:last-child {
	margin-top: -30px;
	-@-maybe-{
		margin-left: 70px;
	}
}

post.layout-6 choice:first-child {
	-@-maybe-{
		margin-left: 70px;
	}
}


post.layout-6 choice:first-child:before {
	content: url(../assets/r_bt1.png);
	vertical-align: middle;
	display: inline-block;
	position: relative;
	top: -2px;
	-webkit-transform: scale(.75);
	right: -25px;
}
post.layout-6 choice:last-child:before {
	content: url(../assets/r_bt2.png);
	vertical-align: middle;
	display: inline-block;
	position: relative;
	top: -2px;
	-webkit-transform: scale(.75);
	right: -25px;
}


post.layout-7 x1 {
	background: url(../assets/masseffect.png);
}

post.layout-7 {
	font-family: 'Lato';
	font-size: 25px;
	color: #d9e9e8;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000,
	-2px -2px 0 #000,
	2px -2px 0 #000,
	0 3px 0 #000,
	-2px 2px 0 #000,
	2px 2px 0 #000;
}

post.layout-7 x2:after {
	content: 'Investigate';
	position: absolute;;
	display: block;
	left: 61%;
	top: 76%;
}

post.layout-7 choice span:before {
	content: '[';
}
post.layout-7 choice span:after {
	content: ']';
}

post.layout-7 choice:first-child {
	position: absolute;
	top: 70%;
	text-align: right;
	right: 59.5%;
	color: #5cc0ff;
}

post.layout-7 choice:last-child {
	position: absolute;
	top: 82%;
	text-align: right;
	right: 60.5%;
	color: #ff0004;
}
