@import url(./../_abstract/post.css);

.post {
	font-family: 'Roboto';
	text-transform: uppercase;
	font-weight: bold;
	font-size: 25px;
	text-shadow: 0 2px 8px #000;
	padding: 5%;
	display: flex;
	align-items: var(--flex-with-center);
	justify-content: var(--flex);
}

.choices {
	height: 200px;
	position: relative;
}

.choice span {
	opacity: .9;
	display: inline-block;
}

.choice:last-child {
	margin-top: -30px;
	margin-left: 70px;
}

.choice:first-child:before {
	background-position: 0 0;
}
.choice:last-child:before {
	background-position: 90px 0;
}

.choice:before,
.choice:before {
	background-image: url(/app/assets/qd/colorful.png);
	content: '\0020';
	background-size: 180px 90px;
	vertical-align: middle;
	display: inline-block;
	position: relative;
	top: -2px;
	right: -10px;
	width: 90px;
	height: 90px;
}

.post[data-variant*="(0=1)"] .choice:before {
	background-image: url(/app/assets/qd/white.png);
}
