.post {
	composes: post from './abstract/Post.css';
	font-family: 'Roboto Mono';
	color: #3cd584!important;
	font-size: 30px;
}

.ac-1 {
	background-image: url(assets/fallout.png);
}

.choices {
	top: 62%!important;
	bottom: 10%!important;
	margin: 0 15.5%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}

.choice {
	line-height: 1.25;
	padding: .25em 1em;
}

.choice:first-child {
	background: rgba(60,210,130,.1);
	border: 1px solid rgba(60,210,130,.5);
	margin-bottom: .25em;
}

.choice span {
	display: inline;
}
