.post[data-layout] {
	display:block;
	width: 1280px;
	height: 720px;
	background: #000;
	position: relative;
	overflow: hidden;
	float: left;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	color: #fff;
}

.post[data-layout] > * {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-position: center center;
	background-size: cover;
}

.post[data-layout] > [data-sink] {
	z-index: 9;
}

.post[data-layout="2"] .ac-1 {
	background-image: url(assets/bioshock.png);
}

.post[data-layout="2"] .bg {
	opacity: .75;
}

.post[data-layout="2"] {
	font-size: 45px;
	font-family: "Poiret One";
	text-transform: uppercase;
	color: #eae6c0;
	text-shadow: 2px 2px 1px #000;
}

.post[data-layout="2"] .choices {
	margin: auto;
	top: 44%;
}

.post[data-layout="2"] .choice {
	display: block;
	width: 40%;
	margin: 5%;
	float: left;
	text-align: center;
}

.post[data-layout="4"] {
	font-family: 'Lato';
	font-size: 30px;
	text-shadow: 2px 2px 1px #000;
}

.post[data-layout="4"] .bg {
	width: 960px;
	margin: auto;
}

.post[data-layout="4"] .ac-1 {
	background-image: url(assets/zelda.png);
}

.post[data-layout="4"] .choice:first-child {
	display: none;
}

.post[data-layout="4"] .choice:last-child {
	position: absolute;
	top: 64%;
	left: 20%;
}

.post[data-layout="4"] .choice:last-child span:after {
	content: '?';
}


.post[data-layout="4"] .ac-2:after {
	content: 'Yes No';
	display: block;
	position: absolute;
	width: 10px;
	line-height: 45px;
	top: 72.5%;
	left: 26.5%;
	color: #48ea59;
}

.post[data-layout="5"] {
	font-family: 'Roboto';
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 0 2px 2px #000;
}

.post[data-layout="5"] .ac-1 {
	background: url(assets/sr.png);
}

.post[data-layout="5"] .choices {
	top: 69.9%;
	width: 62%;
	margin: auto;
}
.post[data-layout="5"] .choice {
	width: 46%;
	float: left;
	margin: 0 2%;
}
.post[data-layout="5"] .choice:last-child {
	text-align: right;
}

.post[data-layout="6"] {
	font-family: 'Roboto';
	text-transform: uppercase;
	font-weight: bold;
	font-size: 25px;
	text-shadow: 0 2px 8px #000;
}

.post[data-layout="6"] .choices {
	height: 200px;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	-@align-vertical-alt-: 10%;
	-@align-alt-: 10%;
}

.post[data-layout="6"] .choice span {
	opacity: .9;
	display: inline-block;
}

.post[data-layout="6"] .choice:last-child {
	margin-top: -30px;
	margin-left: 70px;
}

.post[data-layout="6"] .choice:first-child:before {
	background-position: 0 0;
}
.post[data-layout="6"] .choice:last-child:before {
	background-position: 90px 0;
}

.post[data-layout="6"] .choice:first-child:before,
.post[data-layout="6"] .choice:last-child:before {
	background-image: url(assets/qd/colorful.png);
	-@-maybe-{
		background-image: url(assets/qd/white.png);
	}
	content: '\0020';
	background-size: 180px 90px;
	vertical-align: middle;
	display: inline-block;
	position: relative;
	top: -2px;
	right: -10px;
	width: 90px;
	height: 90px;
}
