.post {
	display:block;
	width: 1280px;
	height: 720px;
	background: #000;
	position: relative;
	overflow: hidden;
	float: left;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	color: #fff;
}

.post > * {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-position: center center;
	background-size: cover;
}

.post > .bg {
	z-index: 9;
}

.post[data-layout="1"],
.post[data-layout="0"] {
	font-family: 'Patrick Hand';
}

.post[data-layout="0"] .ac-1 {
	background-image: url(assets/lis/lis-serious.png);
}

.post[data-layout="0"] .bg {
	opacity: .5;
}

.post[data-layout="0"] .choice {
	text-transform: uppercase;
}

.post[data-layout="1"] .ac-1 {
	background-image: url(assets/lis/lis.png);
}

.post[data-layout="0"] .choices,
.post[data-layout="1"] .choices {
	top: 71%;
}

.post[data-layout="0"] .choices .choice,
.post[data-layout="1"] .choices .choice {
	width: 40%;
	margin: 7% 0;
	float: left;
	margin-right: 0;
	margin-left: 10%;
}

.post[data-layout="0"] .choices .choice:first-child,
.post[data-layout="1"] .choices .choice:first-child {
	text-align: right;
	margin-left: 0;
	margin-right: 10%;
}

.post[data-layout="2"] .ac-1 {
	background-image: url(assets/bioshock.png);
}

.post[data-layout="2"] .bg {
	opacity: .75;
}

.post[data-layout="2"] {
	font-size: 45px;
	font-family: "Poiret One";
	text-transform: uppercase;
	color: #eae6c0;
	text-shadow: 2px 2px 1px #000;
}

.post[data-layout="2"] .choices {
	margin: auto;
	top: 44%;
}

.post[data-layout="2"] .choice {
	display: block;
	width: 40%;
	margin: 5%;
	float: left;
	text-align: center;
}

.post[data-layout="3"] .ac-1 {
	background-image: url(assets/fallout.png);
}

.post[data-layout="3"] {
	font-family: 'Roboto Mono';
	color: #3cd584;
	font-size: 30px;
}

.post[data-layout="3"] .choices {
	top: 66%;
	margin: 0 16%;
}

.post[data-layout="3"] .choice {
	margin-bottom: 30px;
}

.post[data-layout="3"] .choice span {
	display: inline;
}

.post[data-layout="3"] .choice:before {
	content: '[';
	display:inline;
}

.post[data-layout="3"] .choice:after {
	content: ']';
	display:inline;
}

.post[data-layout="4"] {
	font-family: 'Lato';
	font-size: 30px;
	text-shadow: 2px 2px 1px #000;
}

.post[data-layout="4"] .bg {
	width: 960px;
	margin: auto;
}

.post[data-layout="4"] .ac-1 {
	background-image: url(assets/zelda.png);
}

.post[data-layout="4"] .choice:first-child {
	display: none;
}

.post[data-layout="4"] .choice:last-child {
	position: absolute;
	top: 64%;
	left: 20%;
}

.post[data-layout="4"] .choice:last-child span:after {
	content: '?';
}


.post[data-layout="4"] .ac-2:after {
	content: 'Yes No';
	display: block;
	position: absolute;
	width: 10px;
	line-height: 45px;
	top: 72.5%;
	left: 26.5%;
	color: #48ea59;
}

.post[data-layout="5"] {
	font-family: 'Roboto';
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 0 2px 2px #000;
}

.post[data-layout="5"] .ac-1 {
	background: url(assets/sr.png);
}

.post[data-layout="5"] .choices {
	top: 69.9%;
	width: 62%;
	margin: auto;
}
.post[data-layout="5"] .choice {
	width: 46%;
	float: left;
	margin: 0 2%;
}
.post[data-layout="5"] .choice:last-child {
	text-align: right;
}

.post[data-layout="6"] {
	font-family: 'Roboto';
	text-transform: uppercase;
	font-weight: bold;
	font-size: 25px;
	text-shadow: 0 2px 8px #000;
}

.post[data-layout="6"] .choices {
	height: 200px;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	-@align-vertical-alt-: 10%;
	-@align-alt-: 10%;
}

.post[data-layout="6"] .choice span {
	opacity: .9;
	display: inline-block;
}

.post[data-layout="6"] .choice:last-child {
	margin-top: -30px;
	-@-maybe-{
		margin-left: 70px;
	}
}

.post[data-layout="6"] .choice:first-child {
	-@-maybe-{
		margin-left: 70px;
	}
}


.post[data-layout="6"] .choice:first-child:before {
	content: url(assets/r_bt1.png);
	vertical-align: middle;
	display: inline-block;
	position: relative;
	top: -2px;
	transform: scale(.75);
	right: -25px;
}
.post[data-layout="6"] .choice:last-child:before {
	content: url(assets/r_bt2.png);
	vertical-align: middle;
	display: inline-block;
	position: relative;
	top: -2px;
	transform: scale(.75);
	right: -25px;
}


.post[data-layout="7"] .ac-1 {
	background: url(assets/masseffect.png);
}

.post[data-layout="7"] {
	font-family: 'Lato';
	font-size: 25px;
	color: #d9e9e8;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000,
	-2px -2px 0 #000,
	2px -2px 0 #000,
	0 3px 0 #000,
	-2px 2px 0 #000,
	2px 2px 0 #000;
}

.post[data-layout="7"] .ac-2:after {
	content: 'Investigate';
	position: absolute;;
	display: block;
	left: 61%;
	top: 76%;
}

.post[data-layout="7"] .choice span:before {
	content: '[';
}
.post[data-layout="7"] .choice span:after {
	content: ']';
}

.post[data-layout="7"] .choice:first-child {
	position: absolute;
	top: 70%;
	text-align: right;
	right: 59.5%;
	color: #5cc0ff;
}

.post[data-layout="7"] .choice:last-child {
	position: absolute;
	top: 82%;
	text-align: right;
	right: 60.5%;
	color: #ff0004;
}

.post[data-layout="8"] {
	font-family: Gentium Book Basic, serif;
	font-weight: 800;
	color: #835137;
}

.post[data-layout="8"] > *:not(.bg) {
	transform: scale(.8);
}

.post[data-layout="8"] .choices {
	background: url(assets/oblivion/dialog-bottom.png) no-repeat bottom left, url(assets/oblivion/dialog-top.png) top left;
	padding: 47px;
	z-index: 99998;
}

.post[data-layout="8"] .choices:after {
	position: absolute;
	top: 47px;
	left: 47px;
	right: 47px;
	bottom: 47px;
	box-shadow: inset 0 0 60px 30px rgba(100,60,40,.5);
	content: '\0020';
	z-index: 10;
}

.post[data-layout="8"] .choices,
.post[data-layout="8"] .extra,
.post[data-layout="8"] .ac-1,
.post[data-layout="8"] .ac-2,
.post[data-layout="8"] .x3 {
	width: 949px;
	height: 360px;
	position: absolute;
	box-sizing: border-box;
	margin: auto;
}

.post[data-layout="8"] .ac-1,
.post[data-layout="8"] .ac-2 {
	z-index: 99999;
}

.post[data-layout="8"] .ac-1:before {
	content: 'Quest added';
	position: absolute;;
	margin: auto;
	top: 65px;
	text-align: center;
	left: 0;
	right: 0;
	width: 100%;
	display: block;
}

.post[data-layout="8"] .ac-1:after {
	content: url(assets/oblivion/quest.png);
	top: 130px;
	left: 80px;
	position: relative;
}
.post[data-layout="8"] .ac-2:before {
	top: 110px;
	background: linear-gradient(to right,rgba(250,240,210,0), #987751, rgba(250,240,210,0));
	height: 1px;
	display: block;
	position: relative;
	content: '\0020';
}

.post[data-layout="8"] .choices .choice:last-child {
	color: #292b5c;
	position: absolute;
	top: 132px;
	left: 160px;
	z-index: 99999;
}

.post[data-layout="8"] .extra[data-name=date] {
	font-family: sans-serif;
	font-size: .5em;
	color: #b41500;
	padding-top: 175px;
	padding-left: 160px;
	z-index: 9999999;
}

.post[data-layout="8"] .extra[data-name=ui-accept] {
	padding-top: 230px;
	z-index: 9999999;
	padding-right: 300px;
	text-align: right;
}
.post[data-layout="8"] .extra[data-name=ui-accept]:before {
	background: url(assets/oblivion/a.png);
	background-size: cover;
	content: '\0020';
	display: inline-block;
	vertical-align: -40%;
	margin-right: 10px;
	height: 50px;
	width: 50px;
}

.post[data-layout="8"] .extra[data-name=ui-reject] {
	padding-top: 230px;
	padding-right: 80px;
	z-index: 9999999;
	text-align: right;
}
.post[data-layout="8"] .extra[data-name=ui-reject]:before {
	background: url(assets/oblivion/b.png);
	background-size: cover;
	content: '\0020';
	display: inline-block;;
	vertical-align: -40%;
	margin-right: 10px;
	height: 50px;
	width: 50px;
}

.post[data-layout="8"] .choices .choice:first-child {
	display: none;
}
