.post {
	composes: post-raw from './abstract/Post.css';
	font-family: 'Lato';
	font-size: 30px;
	text-shadow: 2px 2px 1px #000;
}

.bg {
	composes: cover from './abstract/Post.css';
	width: 960px;
	margin: auto;
}

.ac-1 {
	composes: cover from './abstract/Post.css';
	background-image: url(assets/zelda.png);
}

.choice {
	position: absolute;
	top: 64%;
	left: 20%;
	z-index: 9999;
}

.extra {
	display: block;
	position: absolute;
	top: 73.4%;
	left: 26.5%;
	bottom: auto;
	right: auto;
	height: auto;
	color: #48ea59;
}

.extra[data-name="bad"] {
	top: 80%!important;
}
